body{

    background-color: #212121; 
}

.post-bar:hover {
    background-color: black;
    color: black;
}

h1.body{
    color: white;
    margin-left: 5%;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

p{
    color: white;
    margin-left: 3%;
}

p.body{
    font-size:x-large;
    line-height: normal;
    color: white;
    margin-left: 5%;
}

#post-info-container{
    margin-top:5%;
}

#post-bar-item a{
    text-decoration: none;
}
#post-bar-item a:hover{
    text-decoration: underline;
}

#post-container {
        position:absolute;
        bottom: 0;
        right: 0;
        left: 0;      
        margin-left: 3%;
        margin-right: 3%;
        z-index: -1;
        overflow: auto;
}

#nav {
    color: #fff ;
    background-color: #3c3e3e;
    font-size: medium;
    border-bottom: 1px solid #80cbc4;
}

#nav.a{
    color: white;
}

#registration-form{
    margin: auto;
    margin-top:10%;
    width: 40%;
}

#login-form{
    margin: auto;
    margin-top:10%;
    width: 40%;
}

#new-post-form{
    margin: auto;
    margin-top:10%;
    width: 80%;
}

#create-post-button{
    position: fixed;
    right: 0;
    margin-right: 3%;
    top: 10%;
}

#edit-buttons-container{
    position:fixed;
    right: 0;
    margin-right: 3%;
    top: 10%;
}

textarea{
    color: white;
    background-color: #212121;
    resize: none;
}

#postTitle{
    color: #b3b3b3;

}
#postAuthorAndDate{
    color: #b3b3b3;
    line-height: 1px;
}

.w3-flat-turquoise
{color:#fff;background-color:#1abc9c}
.w3-flat-emerald
{color:#fff;background-color:#2ecc71}
.w3-flat-peter-river
{color:#fff;background-color:#3498db}
.w3-flat-amethyst
{color:#fff;background-color:#9b59b6}
.w3-flat-wet-asphalt
{color:#fff;background-color:#34495e}
.w3-flat-green-sea
{color:#fff;background-color:#16a085}
.w3-flat-nephritis
{color:#fff;background-color:#27ae60}
.w3-flat-belize-hole
{color:#fff;background-color:#2980b9}
.w3-flat-wisteria
{color:#fff;background-color:#8e44ad}
.w3-flat-midnight-blue
{color:#fff;background-color:#2c3e50}
.w3-flat-sun-flower
{color:#fff;background-color:#f1c40f}
.w3-flat-carrot
{color:#fff;background-color:#e67e22}
.w3-flat-alizarin
{color:#fff;background-color:#e74c3c}
.w3-flat-clouds
{color:#000;background-color:#ecf0f1}
.w3-flat-concrete
{color:#fff;background-color:#95a5a6}
.w3-flat-orange
{color:#fff;background-color:#f39c12}
.w3-flat-pumpkin
{color:#fff;background-color:#d35400}
.w3-flat-pomegranate
{color:#fff;background-color:#c0392b}
.w3-flat-silver
{color:#000;background-color:#bdc3c7}
.w3-flat-asbestos
{color:#fff;background-color:#7f8c8d}


.w3-vivid-pink
{color:#fff;background-color:#ffb5bA}
.w3-vivid-red
{color:#fff;background-color:#be0032}
.w3-vivid-orange
{color:#fff;background-color:#f38400}
.w3-vivid-yellow
{color:#fff;background-color:#f3c300}
.w3-vivid-green
{color:#fff;background-color:#008856}
.w3-vivid-blue
{color:#fff;background-color:#00a1c2}
.w3-vivid-purple
{color:#fff;background-color:#9a4eae}
.w3-vivid-purple
{color:#fff;background-color:#9a4eae}
.w3-vivid-yellowish-pink
{color:#fff;background-color:#ffb7a5}
.w3-vivid-reddish-orange
{color:#fff;background-color:#e25822}
.w3-vivid-orange-yellow
{color:#fff;background-color:#f6a600}
.w3-vivid-greenish-yellow
{color:#fff;background-color:#dcd300}
.w3-vivid-yellow-green
{color:#fff;background-color:#8db600}
.w3-vivid-yellowish-green
{color:#fff;background-color:#27a64c}
.w3-vivid-bluish-green
{color:#fff;background-color:#008882}
.w3-vivid-greenish-blue
{color:#fff;background-color:#0085a1}
.w3-vivid-purplish-blue
{color:#fff;background-color:#30267a}
.w3-vivid-reddish-purple
{color:#fff;background-color:#870074}
.w3-vivid-purplish-red
{color:#fff;background-color:#ce4676}

#comment-container{
    background-image: linear-gradient(#2d2d2d, #353535);
    border-color: #224441;
    border-style: solid;
    border-width: 1px;
}

.comment-body{
    font-size: medium;
}

#comment-author-container{
    line-height: 1px;
    margin-left: 85%;
    margin-bottom: 1%;  
}